version: '3.9'
services:
  webapp:
    build: .
    volumes:
      - ./site:/var/www/html
    ports:
      - 80:80
  db:
      image: mysql
      volumes:
        - ./database://var/lib/mysql
      environment:
        MYSQL_ALLOW_EMPTY_PASSWORD: true
        MYSQL_DATABASE: clann
      ports:
        - 3306:3306

